@charset "UTF-8";

html{
  font-size: 100%;
}

body{
font-family: serif;
line-height: 1.7;
color: white;
background-color: #000000;
}

.logo{
  width: 170px;
  margin-top: 0px;
}

.wrapper{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

img{
  max-width: 100%;
}

.page{
  display: flex;
  max-width: 100%;
  margin-top: 10%;
  justify-content: space-between;
}

.sakuhin{
  width: 800px;
  padding: 0 4%;
  margin-top: 10%;
  margin-left: 60px;
}

.photo{


}



.caption{
  width: 400px;
  padding: 10px;
  margin-right: 20px;
}

.caption p{
  text-align: center;
  margin: 0 auto;
  line-height: 15;
}

.caption a{
    color: white;
}


.modoru{
margin-right: 20px;
margin-top: 70px;
margin-bottom: 10px;
padding: 5px;
width: 150px;
text-align: right;
background-color: white;
}

.right{
  display: flex;
  justify-content: flex-end;
}
